
.box {
    display: flex;
    /*box-sizing: border-box;*/
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
}

.button-sm {
    width: 30px;
    height: 10px;
    border-radius: 5px;
}

.button-s {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.button-min {
    width: 10px;
    height: 10px;
    border-radius: 3px;
}

.txt-al-centr {
    text-align: center;
}

.txt-al-start {
    text-align: start;
}

.fl-d-column {
    flex-direction: column;
}

.j-cnt-sps-evenly {
    justify-content: space-evenly;
}

.j-cnt-end {
    justify-content: flex-end;
}

.j-cnt-sps-betw {
    justify-content: space-between;
}

.j-cnt-start {
    justify-content: flex-start
}

.al-item-start {
    align-items: flex-start
}

.bgr-dark {
    background: #102b3e;
    color: #cdd6df;
}

.bgr-light {
    background: #cdd6df;
    color: #102b3e;
}

.bgr-blu {
    background: #3bc6ea;
    color: #102b3e;
}

.h150 {
    height: 150px;
}

.h280 {
    height: 280px;
}

.h300 {
    height: 300px;
}

/*width*/
.w150 {
    width: 150px;
}

.w200 {
    width: 200px
}

.w240 {
    width: 240px;
}

.w300 {
    width: 300px;
}

.w800 {
    width: 800px;
}

.w-max {
    width: 100%
}

.mrg-50-0 {
    margin: 50px 0;
}

.mrg-10-30 {
    margin: 10px 30px;
}

.mrg10 {
    margin: 10px;
}

.mrg5 {
    margin: 5px;
}

.mrg0 {
    margin: 0;
}

.mrg-bt0 {
    margin-bottom: 0;
}

.pding-30 {
    padding: 30px;
}

.brd-rad40 {
    border-radius: 40px;
}

.brd-rad10 {
    border-radius: 10px;
}

.brd-blue {
    border: 2px solid cornflowerblue;
}

.brd-bott {
    border-bottom: 2px solid cornflowerblue;
}

.brd-rad10-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.brd-rad10-bott {
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
