.box-main {
    border: 3px solid black;
    border-radius: 20px;
    width: 800px;
}

.fl-d-column {
    flex-direction: column;
}

.j-cnt-sps-between {
    justify-content: space-between
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-family: Arial, Verdana, sans-serif;
}

.bgr-silv {
    background: #d9d9d9;
}

.h200 {
    height: 200px;
}

.h410 {
    height: 410px;
}

.w200 {
    width: 200px;
}

.mrg-10 {
    margin: 10px;
}

.mrg-l-10 {
    margin-left: 10px;
}

.mrg-r-10 {
    margin-right: 10px;
}

.mrg-bt-10 {
    margin-bottom: 10px;
}
