* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #0B2330;
    --white-color: #FFFFFF;
    --blue-color: var(--blue-color );
    --yellow-color: #f8c501;
}

.header {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-color);
}

.top_bar,
.menu_wrap__1,
.menu_wrap__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_bar {
    height: 83px;
    Width: 100%;
    padding-left: 36px;
    padding-right: 32px;
}

.top_logo__wrap {
    width: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top_logo__text {
    font-size: 12px;
    line-height: 16px;
}

.menu_wrap__1 {
    width: 618px;
    justify-content: space-around;
}

.menu_wrap__2 {
    width: 372px;
    padding-left: 12px;
}

.menu_item {
    display: flex;
    box-sizing: border-box;
    transition: box-shadow 0.2s;
}

.menu_item a {
    color: var(--dark-color);
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.menu_item a:hover {
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 1);
    background: #9f9f9f;
    border: 0 solid #9F9F9F;
    border-radius: 20px;
    color: white;
}

/*----------content_top--верхній жовтий блок-------*/

.content_top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content_top_wrap__1 {
    width: 436px;
    display: flex;
    flex-direction: column;
    margin-top: 154px;
    margin-left: 147px;
}

.content_top_h2 {
    width: 436px;
    height: 256px;
    display: flex;
    text-align: left;
    font-size: 60px;
    line-height: 64px;
}

.content_top_txt  {
    width: 435px;
    height: 96px;
    font-size: 22px;
    line-height: 32px;
    color: var(--blue-color );
    margin-top: 32px;
}

.content_top_btn_wrap {
    display: flex;
    align-items: start;
    justify-content: left;
    column-gap: 16px;
    margin-top: 38px;
}

.content_top_wrap__2 {
    height: 886px;
    width: 600px;
    display: flex;
    position: relative;
}

.img_yellow_wrap {
    position: absolute;
    left: -110px;
    top: 172px;
}

/*-------logos_partners----блок логотипів------------------*/

.logos_partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 189px;
}

.logos_partners_h3 {
    width: 547px;
    height: 96px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: var(--dark-color);
}

.logos_Partners_wrap {
    width: 1143px;
    display: flex;
    margin-top: 59px;
    flex-direction: column;
}

.logos_Partners_wrap__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.logo_partners__item {
    display: flex;
    height: 56px;
    max-width: 155px;
}

/*------------content_1----зелений блок-----------*/

.content_1 {
    display: flex;
    width: 1376px;
    height: 494px;
    margin-top: 176px;
    background: #51CEBC;
    border-radius: 10px;

}

.content_1_wrap_img {
    display: flex;
    justify-content: start;
}

.content_1_wrap_img > img {
    height: 494px;
    max-width: 678px;
}

.content_1_wrap_txt {
    display: flex;
    flex-direction: column;
    height: 494px;
    width: 562px;
    margin-right: 116px;
}

.content_1_h4 {
    font-size: 34px;
    line-height: 40px;
    margin-top: 114px;
    margin-right: 5px;

}

.content_1_txt {
    font-size: 22px;
    line-height: 32px;
    margin-top: 35px;
}

/*--------------content_2------------------*/

.content_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 911px;
    margin-top: 191px;
}

.content_2_h4 {
    width: 711px;
    height: 80px;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: var(--dark-color);
}

.content_2_wrap_img {
    display: flex;
    margin-top: 57px;
}

/*------------content_3----фіолетовий блок-----------*/

.content_3 {
    display: flex;
    width: 1440px;
    justify-content: right;
}

.content_3_wrap {
    display: flex;
    width: 1260px;
    margin-top: 160px;
    margin-right: 32px;
    background: #bb78ee;
    border-radius: 10px;
    justify-content: right;
    position: relative;
}

.content_3_wrap_img {
    display: flex;
    justify-content: start;
    height: 409px;
    width: 562px;
    position: absolute;
    left: -116px;
    top: 64px;
}

.content_3_wrap_txt {
    display: flex;
    flex-direction: column;
    height: 537px;
    width: 562px;
    margin-right: 116px;

}

.content_3_h4 {
    Width: 485px;
    Height: 192px;
    font-size: 42px;
    line-height: 48px;
    margin-top: 103px;
}

.content_3_txt {
    width: 550px;
    height: 56px;
    font-size: 17px;
    line-height: 28px;
    margin-top: 39px;
}

/*------------content_4----текстовий блок-----------*/

.content_4 {
    display: flex;
    width: 1440px;
    justify-content: left;
    flex-direction: column;
    margin-top: 136px;

}

.content_4_badge {
    width: 94px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color: #6A7981;
    margin-left: 148px;
}

.content_4_h4 {
    width: 593px;
    height: 144px;
    font-size: 42px;
    line-height: 48px;
    margin-top: 13px;
    margin-left: 148px;
}

.content_4_txt {
    width: 500px;
    height: 32px;
    font-size: 22px;
    line-height: 32px;
    margin-top: 26px;
    margin-left: 148px;
}

/*-----content_5-6-7_block----три подібні блоки в центрі-----------*/

.content_5_block {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 219px;
}

.content_5-1,
.content_5-2,
.content_5-3 {
    display: flex;
    margin-left: 148px;
    margin-right: 32px;
    justify-content: space-between;
}

.content_5-2 {
    margin-top: 121px;
}

.content_5-3 {
    position: relative;
    margin-top: 97px;
}


.content_5_wrap {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.content_5_icon {
    margin-top: 12px;
    width: 40px;
    height: 40px;
}

.content_5_img {
    width: 513px;
    height: 348px;
}

.content_5-2_img {
    width: 513px;
    height: 329px;
}

.content_5-3_img {
    width: 513px;
    height: 397px;
}

.content_5_h4 {
    margin-top: 23px;
    height: 40px;
    font-size: 34px;
    color: #0B2330;
}

.content_5_txt {
    margin-top: 29px;
    font-size: 17px;
    color: var(--blue-color );
    width: 500px;
}

/*--------------box6-----*/
.box_6 {
    width: 1440px;
    height: 960px;
    margin-top: 148px;
    background: #f1ece6;
}

.box_6_wrap {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 96px 122px;
}

.box_6_txt {
    width: 84px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    color: var(--blue-color );
}

.box_6_h3 {
    width: 1064px;
    height: 128px;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
}

.box_6-1_wrap {
    display: flex;
    justify-content: space-between;
    margin: 96px 0;
}

.box_6-1_img {
    height: 484px;
    width: 467px;
}

.box_6_bootstrap {
    display: flex;
    flex-direction: column;
    width: 588px;
    height: 484px;
    border-top: 2px solid #C9316F;
    background: #f1ece6;
}

.list-title{
    display: block;
    color: var(--dark-color);
    font-size: 24px;
    cursor: pointer;
}

.list-txt  {
    font-size: 17px;
    padding-left: 0;
    display: none;
    color: var(--dark-color);
}


.accordion span {
    margin-bottom: 23px;
    color: var(--blue-color );
}

.accordion-item {
    font-size: 24px;
    background: #f1e6ec;
}





.box_6_pointer {
    display: flex;
    margin-top: 35px;
}

.box_6_pointer__txt {
    width: 86px;
    height: 28px;
    font-size: 16px;
}

.box_6_pointer__img {
    height: 10px;
    width: 26px;
    margin-left: 8px;
}

/*------------box7-------------*/


.box-7 {
    height: 418px;
    width: 1440px;
    display: flex;
    margin-top: 160px;
}

.box-7-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 148px;
    position: relative;

}

.box-7-7-txt-1 {
    width: 122px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--blue-color );
}

.box-7-h3 {
    width: 669px;
    height: 120px;
    margin-top: 15px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
}

.box-7-txt-2 {
    width: 667px;
    height: 84px;
    margin-top: 37px;
    font-size: 17px;
    line-height: 28px;
    color: var(--blue-color );
}

.box-7-img {
    display: flex;
    width: 512px;
    height: 418px;
    position: absolute;
    left: 1000px;
    justify-content: left;
}

/*------------box8-------------*/
.box-8 {
    width: 1376px;

    display: flex;
    justify-content: space-between;
    margin: 240px 32px 0 32px;
    background: #F2EDE7;
    border-radius: 10px;
}

.box-8-wrap-1,
.box-8-wrap-2 {
    display: flex;
    flex-direction: column;
    height: 584px;
    padding-left: 116px;
    box-sizing: border-box;

}

.box-8-wrap-1 {
    width: 562px;
    border-radius: 10px 0 0 10px;
}

.box-8-1-txt-1 {
    width: 103px;
    height: 24px;
    margin-top: 80px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--blue-color );
}

.box-8-1-h3 {
    width: 314px;
    height: 64px;
    margin-top: 17px;
    font-size: 24px;
    line-height: 32px;
}

.box-8-1-txt-2 {
    width: 325px;
    height: 84px;
    margin-top: 27px;
    font-size: 17px;
    line-height: 28px;
}


.box-8-wrap-2 {
    width: 794px;
    height: 584px;
    background: url("images/box-8-imgfon.svg"), #f8c501;
    background-repeat: no-repeat;
    border-radius: 0 10px 10px 0;
}

.box-8-2-txt {
    width: 557px;
    height: 240px;
    margin-top: 79px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #000000;
}

.box-8-inbox {
    display: flex;
    margin-top: 81px;
}

.box-8-inbox-wrap {
    display: flex;
    flex-direction: column;
}

.box-8-inbox-img {
    width: 80px;
    height: 80px;
    margin-right: 24px;
}

.box-8-inbox-txt-1 {
    width: 117px;
    height: 24px;
    margin-top: 14px;
    font-size: 16px;
    line-height: 24px;
}

.box-8-inbox-txt-2 {
    width: 340px;
    height: 28px;
    font-size: 17px;
    line-height: 28px;
    color: #2F3F48;
}


.box-9 {
    width: 1440px;
    height: 421px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 53px;
    align-items: center;
    margin-top: 46px;
    background: var(--dark-color);
}

.box-9-h3 {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}


.box-9-txt {
    width: 642px;
    height: 56px;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

/*------------box9------------*/
.box-10 {
    width: 1440px;
    height: 678px;
    display: flex;
    flex-direction: column;
    background: var(--dark-color);
}

.decor-wrap {
    display: flex;
    justify-content: center;
    width: 1440px;
}

.decor-line {
    width: 1376px;
    height: 1px;
    border-top: 1px solid var(--blue-color );
}


.box-10-wrap {
    display: flex;
}

.box-10-logo {
    width: 126px;
    height: 48px;
    margin: 80px 109px 0 32px;
}

.box-10-menu-wrap {
    display: flex;
    margin-top: 80px;
}

.box-10-menu {
    width: 236px;
    display: flex;
    flex-direction: column;
}

.box-10-menu-item {
    margin-bottom: 14px;
}

.box-10-menu-item a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #94A0A4;
}

.box-10-menu-item a:hover {
    font-weight: bold;
    color: white;
}

.box-10-menu-item:nth-child(1) a {
    color: #F9C600;
}

.box-10-menu-item:nth-child(1) {
    margin-bottom: 13px;
}

.box-10-bottom-wrap {
    display: flex;
    margin: 55px 150px 0 268px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}

.box-10-txt {
    display: flex;
    width: 301px;
    height: 20px;

}

.box-10-btn-wrap {
    display: flex;
    column-gap: 24px;
}

.box-10-btn {
    display: flex;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background: none;
    transition: box-shadow .2s;
}

.box-10-btn:hover {
    box-shadow: 0 0 20px 0 white;
}

.box-10-btn img {
    display: flex;
    width: 28px;
    height: 28px;
}

/*--------------buttons--------------------*/

.big_btn {
    height: 54px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 29px;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    transition: box-shadow .2s;
}

.big_btn:hover {
    box-shadow: 0 0 20px 0 black;
}

#big_btn__1 {
    background: var(--dark-color);
    color: var(--white-color);
}

#big_btn__2 {
    background: var(--yellow-color);
}

#big_btn__3 {
    background: var(--white-color);
}

#big_btn__4 {
    margin-top: 113px;
    background: var(--yellow-color);
}

#big_btn__5-1 {
    margin-top: 64px;
}

#big_btn__5-2,
#big_btn__5-3 {
    margin-top: 36px;
}

#big_btn__7 {
    width: 208px;
    margin-top: 36px;
    background: var(--yellow-color);
}

#big_btn__8 {
    margin-top: 36px;
    width: 140px;
}

#big_btn__9 {
    width: 163px;
    margin-top: 36px;
    background: var(--yellow-color);
}

#big_btn__9:hover {
    box-shadow: 0 0 20px 0 white;
}

.btn_small_wrap {
    position: absolute;
    bottom: -12px;
}

.btn_small {
    height: 23px;
    width: 228px;
    color: #61757E;
    border-radius: 4px;
    background: #E7EAEB;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-right: 8px;
    padding-left: 8px;
    text-align: start;
    transition: box-shadow .2s;
}

#btn_small__2 {
    width: 147px;
}

#btn_small__3 {
    width: 152px;
    background: #FE9F28;
    color: var(--dark-color);
}

.btn.btn-secondary {
    background: white;
    color: var(--dark-color);
    border: none;
}

.btn_small:hover {
    box-shadow: 0 0 20px 0 black;
}
