@media screen and (min-width: 0px) and (max-width: 600px) {
    .inbox.w650 {
        flex-direction: column;
    }

    #el-2 {
        display: none;
    }

    .bgr-silv {
        width: 400px;
    }

    #el-1 {
        height: 80px;
    }

    #el-3 {
        height: 100px;
    }

    #el-4 {
        height: 120px;
    }

    #el-5 {
        height: 140px;
    }

    #el-6 {
        height: 200px;
    }

    #el-7 {
        height: 80px;
    }
}
