.box-main {
    border: 3px solid black;
    border-radius: 20px;
    width: 1000px;
}

.fl-d-column {
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-family: Arial, Verdana, sans-serif;
}

.bgr-silv {
    background: #d9d9d9;
}

.h250 {
    height: 250px;
}

.h500 {
    height: 500px;
}

.w250 {
    width: 250px;
}

.w750 {
    width: 770px;
}

.mrg-10 {
    margin: 10px;
}

.mrg-l-10 {
    margin-left: 10px;
}

.mrg-r-10 {
    margin-right: 10px;
}

.mrg-bt-10 {
    margin-bottom: 10px;
}
