
#header {
    background: #e6f7b1;
    height: 150px;
    border: 3px solid black;
}

#menu {
    background: #ffb7ff;
    width: 30%;
    border: 3px solid black;
    margin-top: 10px;

}

#footer {
    background: #ffffca;
    height: 150px;
    border: 3px solid black;
    margin-top: 10px;

}

.post {
    background: #a0e2ff;
    height: 50%;
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 10px;
}

.inbox-centr {
    display: flex;
    height: 400px;
}

.inbox-post {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.memo {
    font-family: Arial, Verdana, sans-serif;
    font-size: 20pt;
    padding: 30px;
    text-align: center;
}

